<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/default.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <!--
    req_uri=<%=@req_uri%>
    doc_uri=<%=@doc_uri%>
    accept=<%=@accept%>
    now=<%=now%>
    -->
</head>
<body>

<header>
    <h1 onclick="document.location='index.md'">
        Cub Scout Pack 306!
    </h1>
    <menu>
        <menuitem>
            <a href="index.md"><i class="fas fa-home"></i> Home</a>
        </menuitem>
        <menuitem>
            <a href="about.md"><i class="fas fa-info-circle"></i> About</a>
        </menuitem>
        <menuitem>
            <a href="schedule.md"><i class="fas fa-calendar-alt"></i> Schedule</a>
        </menuitem>
        <menuitem>
            <a href="join.md"><i class="fas fa-sign-in-alt"></i> Join</a>
        </menuitem>
        <menuitem>
            <a href="contact.md"><i class="far fa-address-card"></i> Contact Us</a>
        </menuitem>
        <menuitem>
            <a href="https://www.facebook.com/groups/1638534726165407/"><i class="fab fa-facebook"></i> Facebook</a>
        </menuitem>
    </menu>
    <div id="construction">This site is under development</aside>
</header>

<aside>
    <div>tools</div>
    * something goes here<br>
</aside>

<main>
<%=page%>
</main>

<footer>
Catonsville Cub Pack 306 copyright 2018
</footer>

</body>
</html>
