<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/default.css">
    <!--
    req_uri=<%=@req_uri%>
    doc_uri=<%=@doc_uri%>
    accept=<%=@accept%>
    now=<%=now%>
    -->
</head>
<body>

<%=page%>

<footer>
Thomas Cherry (c) 2018 - <%=now%>
</footer>

</body>
</html>